
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-pinterest:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */